@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");
body {
  background-color: #f3f3f3;
}
/* Navbar Section */
.navbar {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-button {
  position: relative;
  padding: 0% 7px;
}
.navbar-brand {
  margin-right: 50px;
}
.nav-ul {
  display: flex;
}
.nav-link2.active .img-fluid2 {
  content: url("image/help-menu2.png");
  width: 30px;
  height: 30px;
}
.nav-link {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 5px;
}
.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  height: 3px;
  width: 100%;
  background-color: #569171;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after {
  opacity: 1;
}
.nav-link.active::after {
  opacity: 1;
}
.btn {
  border-radius: 20px;
  height: 40px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #ff6a00;
  color: #ffffff;
}
.btn:hover {
  border-radius: 20px;
  height: 40px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #569171;
  color: #ffffff;
}
.container-fluid {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

/* konten section  */

.container-landing {
  margin-top: 15vh;
  min-height: 50vh;
  display: flex;
  align-items: center;
  background-image: url("image/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}
.container text-center {
  margin-left: 70px;
}
.search-bar {
  width: 450px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(217, 218, 217, 217);
  left: 200px;
  top: 300px;
  border-radius: 5px;
  margin-right: 20vh;
  margin-top: 5vh;
  margin-left: 55vh;
}
.search-bar input {
  background: transparent;
  width: 450px;
  flex: 2;
  border: 0;
  outline: 0;
  padding: 12px 30px;
  margin-right: 200px;
}
.Kategori {
  margin-left: 70px;
  margin-top: 9px;
  padding: 20px;
}
.card {
  flex-direction: row;
  max-width: 20%;
  width: 20%;
  height: 100%;
  padding: 10px;
  align-items: center;
  margin: auto;
  margin-bottom: 2px;
}
.card img {
  max-width: 20%;
  margin: auto;
  margin-right: 10px;
  margin-left: 10px;
}
.question {
  margin-left: 90px;
  margin-top: 20px;
}

.list-question {
  margin-top: 20px;
  margin-left: 85px;
  padding: 5px;
}
.question-link::after {
  color: black;
}

/* Footer section */
.sticky-footer {
  background-color: #569171;
  color: #ffffff;
}
