@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");
body {
  background-color: #f3f3f3;
}
/* Navbar Section */
.navbar {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-button {
  position: relative;
  padding: 0% 7px;
}
.navbar-brand {
  margin-right: 50px;
}
.nav-ul {
  display: flex;
}
.nav-link {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 5px;
}
.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  height: 3px;
  width: 100%;
  background-color: #569171;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-link:hover::after {
  opacity: 1;
}
.nav-link.active::after {
  opacity: 1;
}
.btn {
  border-radius: 20px;
  height: 40px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #ff6a00;
  color: #ffffff;
}
.btn:hover {
  border-radius: 20px;
  height: 40px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #569171;
  color: #ffffff;
}
.container-fluid {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Hero section */

.hero {
  display: flex;
}
.hero .content {
  padding: 1.4 rem 7%;
  max-width: 60 rem;
}
.home {
  margin-top: 12vh;
  margin-bottom: 8vh;
  margin-left: 20vh;
  align-items: center;
}
.teks {
  align-items: center;
}
h1 {
  font-family: "Potta One", cursive;
  font-size: 50pt;
  font-weight: 400;
  text-align: center;
}
p {
  font-family: "Poppins", sans-serif;
}
.judul3 {
  font-size: 13pt;
  font-weight: 400;
  color: #3c424b;
}
.judul1 {
  color: #569171;
  margin-bottom: -10px;
  text-align: center;
}
.judul2 {
  color: #eb713e;
  text-align: center;
}
.judul4 {
  font-family: "Poppins", sans-serif;
  font-size: 14pt;
  font-weight: 500;
  color: #000000;
}
.btn2 {
  border-radius: 20px;
  height: 40px;
  padding: 7px 10px 7px 10px;
  font-weight: 500;
  background-color: #ff6a00;
  color: #ffffff;
  align-items: center;
  margin-top: -15px;
  margin-left: 22vh;
}
.img-home {
  justify-content: center;
}

/* Footer section */

.sticky-footer {
  background-color: #569171;
  color: #ffffff;
}

/* Media  */

/* Laptop  */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62, 5%;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
