@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");
body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex: 1;
}

.signin {
  background-color: #f6e8cb;
  padding: 30px;
  min-width: 80vh;
  min-height: 100vh;
}

.form-login {
  margin-left: 7vh;
  margin-top: 16vh;
}

.email,
.password,
.form-select {
  height: 50px;
  background-color: #f3f3f3;
}

.color-red {
  color: red;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  color: #3c424b;
  margin-left: 40vh;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 14pt;
  color: #3c424b;
  text-align: center;
}

.image {
  padding: 20px;
  min-width: 80vh;
  height: 100vh;
  margin-left: 10vh;
  align-items: center;
}

.img-logo {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 18vh;
}

h1 {
  font-family: "Pangolin", sans-serif;
  font-size: 40pt;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.text-color {
  color: #ff6a00;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 72px;
}

.remember-me {
  margin-right: 10px;
}

.forgot-password {
  text-align: right;
}
.btn {
  border-radius: 22.5px;
  height: 45px;
  width: 130px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #ff6a00;
  color: #ffffff;
  margin-left: 22vh;
  margin-top: 6vh;
}

.btn2 {
  border-radius: 10px;
  height: 45px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #569171;
  color: #ffffff;
  margin-top: 6vh;
  margin-left: 25vh;
}

.btn:hover {
  border-radius: 22.5px;
  height: 45px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #569171;
  color: #ffffff;
}

.btn2:hover {
  border-radius: 10px;
  height: 45px;
  padding: 7px 30px 7px 30px;
  font-weight: 500;
  background-color: #ff6a00;
  color: #ffffff;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40pt;
  font-weight: 600;
  color: #ff6a00;
  text-align: center;
  margin-top: 5vh;
}

label {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
}
